@model WebAppplication_01.Models.Voiture

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fabricant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricant)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modele)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Anne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anne)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
