@model IEnumerable<WebAppplication_01.Models.Voiture>

@{
    ViewData["Title"] = "Voitures";

}

<h2>Voitures</h2>
<a asp-action="NouvelleVoiture" class="btn btn-primary">Nouvelle voiture</a>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fabricant
                </th>
                
                <th>
                    Modele
                </th>
                
                <th>
                    Anneé
                </th>
                
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fabricant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modele)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anne)
                    </td>
                    <td>
                        <a asp-action="Actualizer" asp-route-id="@item.VoitureId" class="btn icon-edit-sign">
                            Actualizer
                        </a>
                        <a asp-action="Details" asp-route-id="@item.VoitureId" >
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                        <a asp-action="Supprimir" asp-route-id="@item.VoitureId" >
                            <i class="icon-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>