@model WebAppplication_01.Models.Voiture

@{
    ViewData["Title"] = "Supprimir";
}

<h2>Supprimir - Detail</h2>

<div>
    <h4>Voiture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fabricant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fabricant)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Modele)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modele)
        </dd>
        <hr />
        <dt>
            @Html.DisplayNameFor(model => model.Anne)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anne)
        </dd>
    </dl>
</div>
<div>
    
    <form asp-action="Supprimir">
        <input type="hidden" asp-for="VoitureId" />
        <input type="submit" value="Supprimir" class="btn btn-danger" />
    </form>
    <div class="row"><a asp-action="Index" class="btn btn-primary">Retourne</a></div>
    
</div>
