@model AlbumDePhotographies.Models.Album

@{
    ViewData["Title"] = "Details album " + Model.Nom;
}

<div class="listAlbums">
    <div class="photo">
        <div class="container">
            <div class="text">
                <h2 class="white-text">@Html.DisplayFor(model => model.Nom)</h2>
                <h5 class="white-text">@Html.DisplayFor(model => model.Debut) à @Html.DisplayFor(model => model.Fin)</h5>
            </div>
        </div>
    </div>

    <div>
        <hr />
        <h5 class="center">Photos - @Model.Nom</h5>
        <hr />
        <div class="lienPhoto hide">@Model.PhotoCouverture</div>
    </div>
    <div>
        <a asp-controller="Photos" asp-action="Create" asp-route-id="@Model.AlbumId" class="btn-small">Nouvelle photo</a> |
        <a asp-action="Index" class="btn-small grey darken-3">Retour</a>
    </div>
</div>

@await Component.InvokeAsync("Photo", new { id = Model.AlbumId})

@section Scripts{
    <script>
    var lienPhoto = $(".lienPhoto").text();
        var url = "/" + lienPhoto;
        $(document).ready(function () {
            $(".photo").css("background-image", 'url("@Url.Content(Model.PhotoCouverture)")');
        });

    </script>
}